


body{
	
	background-image: url("../images/bg4.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	
}


#container1,
#container2,
#container3,
#container4{
	height:100vh;

}

/*container1*/
#container1{
		color:gold;
}

#colleft1, .col-6{

	color:gold;
	display:block;

}


#center-div1, 
#center-div2,
#center-div3,
#center-div4
{

	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	width: 80%;
	position:relative;
	height:70%;

}

#me{

	border-radius:50%;
	width:250px;
	margin-bottom:20px;
}

#h1innerdiv,
#h1outerdiv{
	border-radius:50%;
}

#h1outerdiv{
	left:50%;
	top:50%;
	transform: translate(-50%,-80%);
	position:relative;
	background-color:gold;
	width:250px;
	height:250px;
	display:block;
	margin-bottom:20px;
	
}

#h1innerdiv{
	
	background-color:black;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	width: 235px;
	height:235px;
	position:relative;
	padding-top:60px;

}



#dcd{

	color:gold;
}


#absolutediv{
	color:gold;
	position:fixed;
	z-index:100;
	top:90vh;
	text-align:center;
	

}






/*progress bar*/
.row{
	width:100%;
	
}

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 
    0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: gold;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: gold;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


.skillsh4{
	color:gold;
	
}

/*container3 projects*/

#csp1imgdiv{
	width: 100%;
}


.col-2{
	margin:1.66%;

	
}

/*container 3*/

.col-4{
	padding:20px;
	
	margin-top:8%;

}

.projectsimgdiv{
	background-color:#2e1b30;
	height:150px;
	padding-top:20px;
}

.projectsimg{
	width:90%;
}

.projectstitle{
	background-color:#2e1b30;
	margin-bottom:0;
	height:40px;
}

.projectstext{
	margin-top:0;
	background-color:#2e1b30;
	color:gold;
	padding:20px;
	height:175px;

}

#atag1,
#atag2,
#atag3{
	text-decoration:none;
	color:gold;
}

p{
	text-align:left;
}

hr{
	color:gold;
}

/*container4*/
#center-div4{

	margin-top:10%;
}

#container4{
	color:gold;
    padding-top: 5%;


}

#contactdetails{
	margin-top:40%;
}

#disclaimer{
	margin-top:25%;
}

/* contact us */


